body {
    margin: 50px;
    padding: 20px;
    background-color: gray;
}

#header {
    background-color: crimson;
    height: 80px;
    font-size: 40px;
    color: darkblue;
    margin-bottom: 10px;
    text-align: center;
    width:100% ;
    font-family: Arial, Helvetica, sans-serif
}


nav {
    background-color: aqua;
    height: 150;
    font-size: 40px;
    color: #000;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: blueviolet;
    height: 150px;
    font-size: 20px;
    text-align: center;
    padding: 80px;
    margin-right: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 35%;
}

#article {
    background-color: burlywood;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    height: 180px;
    
}

#inner-of-article-first-div {
    
    background-color: darkblue;
    padding: 200;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
}

#inner-of-article-second-div {

    text-align: center;
    background-color: darkmagenta;
    height: 50px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;

}

aside {
    background-color: blue;
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
    margin-top: -320px;
    width: 52%;
    float: right;
    height: 310px;


    
}

footer {
    clear: both;
    background-color: red;
    height: 70px;
    text-align: center;
    
}
